<!doctype html>
<html lang="en">
  <head>
  <title>Online Movie Library System</title>
  
  {% load static %}
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'movie/css/font-awesome.min.css' %}">
	<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'fontawesome_free/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesome_free/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesome_free/css/solid.css' %}" rel="stylesheet" type="text/css">
    
  </head>
  
  
  
  <body>
  
 <nav class="navbar navbar-expand-lg navbar-light bg-info">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
	  {% if user.is_staff %}
	   <li class="nav-item">
       <a class="nav-link" href="{% url 'maintenance'%}">Maintenance</a>
       </li>
	   	   <li class="nav-item">
       <a class="nav-link" href="{% url 'all-rated'%}">All Record</a>
       </li>
	  {% endif %}
	  {% if user.is_authenticated %}
	   <li class="nav-item">
       <a class="nav-link" href="{% url 'my-rated'%}">My Record</a>
       </li>	
	  {% endif %}
	  </ul>	
	  
	{% if user.is_authenticated %}  
	<ul class="navbar-nav">
	<li>User: {{ user.get_username }}</li>
	</ul>
	<ul class="navbar-nav">
	   <li class="nav-item">
       <a class="nav-link" href="{% url 'logout'%}">Logout</a>
       </li>
	</ul>
      {% else %}
	  	<ul class="navbar-nav">
	      <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
	</ul>
	<ul class="navbar-nav">
	      <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
	</ul>
      {% endif %}
    </ul>
  </div>
</nav>
  
  
  
    <p><h1>Online Movie Library System</h1></p>
	
	  {% block content %}{% endblock %}
	
	<!--pagination block-->
{% block pagination %}
  {% if is_paginated %}
    <div class="pagination">
      <span class="page-links">
        {% if page_obj.has_previous %}
          <p><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="page-current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a></p>
        {% endif %}
      </span>
    </div>
  {% endif %}
{% endblock %} 
<!--pagination block-->
	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
  </body>
</html>