<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommend</title>
</head>
<body>
    <div>
        <input type="text" placeholder="Search..">
        <button>Submit</button>
    </div>
<!--    {% if recommended %}  -->
<!--        <h1>Search Result</h1>-->
<!--            <ul>-->
<!--              {% for movie in recommended %}-->
<!--                <li>-->
<!--                  {{ movie }}, {{ movie.state }}-->
<!--                </li>-->
<!--              {% endfor %}-->
<!--            </ul>-->
<!--    {% endif %}-->
</body>
</html>